<!DOCTYPE html>
<html lang="nl">
	  <%- include('partials/head') %>

<body class="l-splashscreen">
	<main class="l-welcome">
		<h2>Gebruikers</h2>
		<ul>
			<% usersList.length %>
		<% for (var i =0; i <= 10;  i++ ) { %>
		<li>
			<a href="">
			<%= usersList[i] %>
			</a>
		</li>
		<% } %>
		</ul> 
	</main>
	<div class="l-triangle">
		<ul class="triangle__group">
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		  <li class="triangle__item"></li>
		</ul>
	  </div>
  <script src="/js/new-user.js"></script>
</body>

</html>