<!DOCTYPE html>
<html lang="nl">
  <%- include('partials/head') %>

<body>
  <main class="index">
    <h1>Admin Dashboard</h1>

    <%- include("partials/form-add-emails.ejs") %>
  </main>
  <script src="/js/new-user-form.js"></script>
</body>

</html>