<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="index">
    <div class="context">
      <h1>Admin Dashboard</h1>
    </div>

    <form action="/api/newuser" method="POST">
      <label for="email">emailadres student:</label>
      <input type="email" id="email" name="email">
      <input type="submit" value="verstuur link">
    </form>

  </main>
</body>

</html>