<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="challenge-main">
    <form action="/intake/challenge" method="POST">
      <fieldset class="context-challenge">
        <legend>Coding challenge</legend>
        <ol>
          <li><strong>HTML</strong>: Voor de minor is het belangrijk dat je bekend bent met het Document Object Model. Eerst willen wij je vragen de html te schrijven voor het menu zoals dat in het voorbeeld is weergegeven. De header en de menuknop krijg je vast van ons cadeau!</li>
          <li><strong>CSS</strong>: Voor deze opdracht is het belangrijk om de HTML elementen die je gebruikt hebt te stylen. Hier is het van belang css selectors te gebruiken zoals: id, class, child element. Moderne standaarden zoals flexbox en / of grid zijn pluspunten! Probeer het menu zo te stylen dat het er uitziet als in het voorbeeld.</li>
          <li><strong>JavaScript</strong>: Zorg er tenslotte met JavaScript voor dat het menu door te klikken op de knop in de header verborgen en getoond kan worden.</li>
        </ol>
      </fieldset>
      <fieldset class="code-container">
        <legend>Schrijf hieronder jouw code.</legend>


        <div class="codepanel">
          <label>HTML</label>
          <div id="html">
            <header>
              <h1>Coding Challenge Example</h1>
              <button>Menu</button>
            </header>
          </div>
        </div>

        <div class="codepanel">
          <label>CSS</label>
          <div id="css">
            header {
              display:flex;
            }
          </div>
        </div>

        <div class="codepanel">
          <label>JavaScript</label>
          <div id="js">
            <!-- const button = document.querySelector('button'); -->
          </div>
        </div>

        <input name="id" type="hidden" value="<%- id %>">
      </fieldset>

      <section class="output-container">
        <div>
          <div>
            <h2>Voorbeeld</h2>
            <div class="image-example"></div>
          </div>
          <div id="output">
            <h2>Jouw resultaat</h2>
            <iframe></iframe>
          </div>

        </div>
      </section>

      <button>Sla jouw resultaat op</button>

    </form>
  </main>

  <div class="splashscreen">
    <ul class="minor-logo">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>
  <script src="/js/challenge.js"></script>
</body>

</html>