<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="challenge-main">
    <div class="code-container"> 
        <div>
            <h2>HTML</h2>
            <textarea id="html">
            </textarea></div>
        <div>
            <h2>CSS</h2>
            <textarea id="css"></textarea></div>
        <div>
            <h2>JavaScript</h2>
            <textarea id="js"></textarea></div>
    </div>

    <iframe id="code"></iframe>
  </main>
  <script src="/js/script.js"></script>
  <script src="/js/challenge.js"></script>
</body>

</html>