<!DOCTYPE html>
<html lang="nl">
<%- include('partials/head') %>

<body>

  <header id="top">
    <h1>Code challenge #1</h1>
    <p>In deze code challenge ga je een digitaal visitekaartje maken met HTML, CSS en JavaScript. In de onderstaande aanwijzingen noemen we een aantal web technieken waarvan wij bij de minor uitgaan dat je ze beheerst. Door deze code challenge te doen krijg jij een idee in hoeverre je genoeg kennis al hebt, of dat je genoeg affiniteit hebt om het te gaan leren.</p>

    <h2>Aanwijzingen</h2>
    <p>Maak het voorbeeld kaartje na of bedenk iets beters om te coden. Je krijgt van ons al wat HTML cadeau. Je kan zelf elementen toevoegen of aanpassen.</p>
    <p>De bedoeling is dat je een mooi kaartje maakt over jezelf, en dat je met een <strong>micro-interactie</strong> iets verandert of iets laat verschijnen.</p>
    <p>Voor de minor WEB is het belangrijk dat je het <a href="https://en.wikipedia.org/wiki/Document_Object_Model">DOM</a> object begrijpt en weet hoe je in CSS <strong>selectors</strong> gebruikt om HTML <strong>elementen</strong> te stylen.</p>
    <p>In de almanac op <a href="https://css-tricks.com/almanac/">CSS-tricks</a> kun je zien welke selectors er allemaal zijn. Gebruik in je CSS een aantal van deze selectors om je kaartje te maken.</p>
    <p>Om elementen op de juiste plek te positioneren kan je handig gebruik maken van <strong>Flexbox</strong> of <strong>Grid Layout</strong>. Dit zijn twee leuke online games om deze technieken onder de knie te krijgen: <a href="https://flexboxfroggy.com/">Flexbox Froggy</a> &amp; <a href="https://cssgridgarden.com/">Grid Garden</a></p>
    <p>Voor het maken van een micro-interactie kan je CSS en JavaScript samen laten werken. Gebruik hiervoor onder andere het <strong>ClassList Object</strong>. <a href="https://css-tricks.com/video-screencasts/150-hey-designers-know-one-thing-javascript-recommend/"></a>Hier kun je lezen</a> hoe je dat kan doen.</p>
  

    <a href="#input">Let's go! <img src="https://minor-web-intake.herokuapp.com/images/icon-up.svg" alt="Up arrow by BlackActurus from the Noun Project"></a>
  </header>
  
  <section id="input">
    <h2>Type hier je code</h2>
    
    <form action="/intake/challenge" id="code" method="POST">
      <fieldset>
        <legend>HTML</legend>
        <div id="html">
          <header>
            <a href="#">Language</a>
            <h1>Artis</h1>
            <button>X</button>
          </header>
        </div>
      </fieldset>
      <fieldset>
        <legend>CSS</legend>
        <div id="css">
          body {
            font-family:open sans
          }
          header {
            width:100%;
            display:flex;
            align-items:center;
            justify-content:space-between;
          }
        </div>
      </fieldset>
      <fieldset>
        <legend>JavaScript</legend>
        <div id="js">
          const button = document.querySelector('button');
        </div>
        
       </fieldset>

       <ul class="toolbar">
        <li><!--
          <a href="#"><img src="https://minor-web-intake.herokuapp.com/images/icon-lamp.svg" alt="Bulb by faisal from the Noun Project"></a>
          <section>
            <h3>Tips & Resources</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et qui eaque hic mollitia autem, harum dolorem quas perferendis saepe, dolorum illo blanditiis dolor quo veritatis assumenda. Aliquam accusamus quia mollitia.</p>
            <ul>
              <li><a href="#">Flexbox guide</a></li>
              <li><a href="#">Grid Layout guide</a></li>
              <li><a href="#">Media Queries guide</a></li>
            </ul>
          </section>
        </li>
        <li><a href="#"><img src="https://minor-web-intake.herokuapp.com/images/icon-calendar.svg" alt="Calendar by faisal from the Noun Project"></a></li>-->
        <li><button><img src="https://minor-web-intake.herokuapp.com/images/icon-accept.svg" alt="Accept by faisal from the Noun Project"></button></li>
        <li><a href="#top"><img src="https://minor-web-intake.herokuapp.com/images/icon-up.svg" alt="Arrow by faisal from the Noun Project"></a></li>
      </ul>

      <input name="id" type="hidden" value="<%- id %>">
    </form>
  </section>
  
  <section id="example">
    <h2>Voorbeeld</h2>
    <img src="https://minor-web-intake.herokuapp.com/images/example.png" alt="Artis menu component">
  </section>
  
  <section id="output">
    <h2>Resultaat</h2>
    <iframe></iframe>
  </section>
  
  

  <div class="splashscreen">
    <ul class="minor-logo">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <script src="https://unpkg.com/codeflask/build/codeflask.min.js"></script>
  <script src="/js/challenge.js"></script>
</body>

</html>