<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="challenge-main">
    <div class="splashscreen">
      <ul class="minor-logo">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="code-container"> 
        <div>
            <h2>HTML</h2>
            <textarea id="html">
            </textarea></div>
        <div>
            <h2>CSS</h2>
            <textarea id="css"></textarea></div>
        <div>
            <h2>JavaScript</h2>
            <textarea id="js"></textarea></div>
    </div>
    <div>
      <h2>Output</h2>
      <iframe id="code"></iframe>
    </div>
    <div>
      <h2>Output</h2>
      <img></img>
    </div>
  </main>
  <script src="/js/script.js"></script>
  <script src="/js/challenge.js"></script>
  <script src="/js/challenge-1.js"></script>
</body>

</html>