<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="index complete">
    <div class="context">
      <h1>Minor web-dev</h1>
        <p>Thanks <%- data.name %>, for completing this intake tool. We will get back to you</p>
        <!-- <form action="/complete/sendResults" method="POST">
            <button type="submit">Yes please</button>
        </form> -->
    </div>
    
    <div class="splashscreen">
      <ul class="minor-logo">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </main>
  <script src="/js/script.js"></script>
  <script src="/js/enqueteForm.js"></script>
</body>

</html>