<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="index enquete">
    <div class="context">
      <h1>Minor web-dev</h1>
      <a href="/enquete/form/<%- id %>">Start de enquete</a>
    </div>

    <div class="splashscreen">
      <ul class="minor-logo">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </main>
  <script src="/js/script.js"></script>
</body>

</html>