<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="index enquete">
    <div class="context">
      <h1>Minor web-dev</h1>
        <form action="/enquete/form" method="POST">
            <input name="id" type="text" class="hidden" value="<%- id %>">
            <button type="submit">Versturen</button>
        </form>
    </div>
    
    <div class="splashscreen">
      <ul class="minor-logo">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </main>
  <script src="/js/script.js"></script>
</body>

</html>