<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="index">
    <div class="context">
      <h1>Minor web-dev</h1>
    </div>

    <h2><%= message %> </h2>

  </main>
  <script src="/js/script.js"></script>
</body>

</html>