<!DOCTYPE html>
<html lang="nl">
  <%- include('partials/head') %>

<body>
  <main class="index">
    

    <h1>Minor web-dev</h1>
    <% if (hasId) { %> <a href="/intake/form/?id=<%- id %>">Start</a>
    <% } else { %>
      <form class="index__challenge" method="POST" action="/create_user">
        <input type="email" placeholder="your-email@gmail.com" name="email">
        <button type="submit">Start de challenge</button>
      </form>
    <% } %>

  </main>

  <div class="splashscreen">
    <ul class="minor-logo">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>

</html>