<!DOCTYPE html>
<html lang="nl">
  <%- include('partials/head') %>

<body>
  <form action="/login" method="POST">
    <label for="username">Gebruikersnaam</label>
    <input id="username" name="username" type="text">

    <label for="username">Wachtwoord</label>
    <input id="password" name="password" type="password">
    
    <button type="submit">Inloggen</button>
</form>
</body>

</html>