<!DOCTYPE html>
<html lang="nl">
  <%- include('partials/head') %>

<body class="l-splashscreen">
	<main class="l-welcome">
		<h1> Admin Dashboard</h1>
	  	<form  action="/login" method="POST" class="form form__user">
		    <label for="username">Gebruikersnaam</label>
		    <input id="username" name="username" type="text" class="input form__input">

		    <label for="username">Wachtwoord</label>
		    <input id="password" name="password" type="password" class="input form__input">
		    
		    <button type="submit" class="button button--white form__submit">Inloggen</button>
		</form>
	</main>
    <div class="splashscreen">
      <ul class="minor-logo">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
</body>

</html>