<!DOCTYPE html>
<html lang="nl">
<%- include("partials/head.ejs") %>

<body>
  <main class="index">
    <div class="context">
      <h1>Minor web-dev</h1>
    </div>
    <form action="/api/" method="POST">
      <label for="email">emailadres student:</label>
      <input type="email" id="email" name="email">
      <input type="submit" value="verstuur link">
    </form>
    </div>
  </main>
  <script src="/js/script.js"></script>
</body>

</html>