/* generic */
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header example"
    "input  output";
}
body > * {
  padding:0;
}
h1, section h2 {
  font-size: 1.25em;
  margin:-.5rem 0 0;
  padding:.5rem;
  background-color: var(--secondary);
}
header h2 {
  color:#333
}
p {
  margin:1rem 0;
}
ol {
  margin:2rem 0;
}
img {
  max-width:100%
}
a, button {
  padding:.25rem .5rem;
  color:#333;
  font-size: inherit;
  font-family: inherit;
}
a:hover {
  text-decoration:none;
}

fieldset {
  padding:0;
  margin:0;
  border:none;
  position:relative;
  border-bottom:1px solid var(--tertiary);
  border-right:1px solid var(--tertiary);
}
fieldset:last-of-type {
  border-bottom:none;
}
legend {
  padding:0;
  position:absolute;
  right:0;
  top:0;
  z-index:100;
  background-color: var(--tertiary);
  padding:.25rem;
  color:#fff;
  font-size: .9em;
}
textarea {
  width:100%;
  height:100%;
}

/* sections */
header {
  grid-area: header;
  display:flex;
  flex-direction:column;
  padding:.5rem 1rem;
  
  background-color: #d3f1fb;
  background: #fff;
}
header h1 {
  background-color: var(--secondary);
  margin:-.5rem -1rem 1rem;
}
header p {
  padding: 0;
}
header ol,
header a {
  align-self:center;
  position: relative;
}
header ol {
  padding-right:1.5rem;
}
header > a {
  padding-bottom:1.5rem;
  overflow:hidden;
  margin-top: -1rem;
}
header a img {
  position:absolute;
  right:calc(50% - .75rem);
  bottom:-.5rem;
  width:1.5rem;
  transition:.25s
}
header * a {
  padding:0;
}
header a:hover img {
  transform: translate(0, .25rem);
  
}
section {
  margin:0;
  display:flex;
  flex-direction:column;
  transition:.5s .5s;
}

/* input */
section#input {
  grid-area: input;
  background-color: var(--primary);
  padding-top: .5rem;
}
  section#input form {
    display:flex;
    flex-direction:column;
    height:100vh;
  }
    section#input form fieldset{
      flex-grow:1;
    }
    section#input form fieldset > div{
      position:relative;
      width:100%;
      height:100%;
    }

/* example */
section#example {
  grid-area: example;
  background-color: #fff;
  padding:.5rem 0;
}
  section#example h2 {
    background-color: var(--secondary);
  }  
  section#example img {
    flex-grow: 1;
    align-self:center;
    margin: 0;
    min-width:30em;
    max-width:35em;
  }

/* output */
section#output {
  grid-area: output;
  display:flex;
  flex-direction:column;
  background-color: var(--primary);
  padding-top: .5rem;
}
section#output iframe {
  border:none;
  background-color: #fff;
  flex-grow: 1;
  margin:0;
}
/* toolbar */
ul.toolbar {
  pointer-events:none;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:2.5rem;
  display:flex;
  justify-content:flex-end;
  z-index:1000;
  background-color: #c7fbbd;
  list-style:none;
  margin:0;
  align-items:center;
  transition:.25s .5s;
  transform:translateY(100%);
  opacity:0;
  padding:0;
  border-top:.5rem solid #88c57c;
  overflow:hidden;
  box-shadow:0 0 20px 10px rgba(0,0,0,.1);
}
ul.toolbar li {
  border-left:1px solid #88c57c;
  height:100%;
}

ul.toolbar li:last-child {
  margin-right:0;
  border-right:1px solid #88c57c;
  
}
ul.toolbar li:last-child img {
  transform:rotate(180deg) translate(0, .5rem);

}
ul.toolbar li > button,
ul.toolbar li > a {
  background-color: #aff5a2;
  border-radius:0;
  border:none;
  display:block;
  overflow:hidden;
  padding:0 .5rem;
  position: relative;
  vertical-align: center;
  text-decoration: none;
  line-height: 2;
}

ul.toolbar li > button:hover,
ul.toolbar li > a:hover,
ul.toolbar li > button:focus {
  background-color: #88c57c;
  color:#333;
  outline:none;
}

ul.toolbar section {
  display:none;
}



/* Edit mode */
body.edit-mode ul.toolbar {
  transform:translateY(0);
  opacity:1;
  pointer-events:auto;
}

@media (min-width:60em) {
  header p,
  header ol {
    max-width:40em
  }
  header ol li {
    margin-bottom: 6vh;
  }
}
