/* generic */
body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header example"
    "input  output";
}
body > * {
  padding:0;
}
h1, section h2 {
  font-size: 1.25em;
  margin:-.5rem 0 0;
  padding:.5rem;
  background-color: var(--secondary);
}
header h2 {
  color:#333
}
p {
  margin:1rem 0;
}
ol {
  margin:2rem 0;
}
img {
  max-width:100%
}
a, button {
  padding:.25rem .5rem;
  color:#333;
  font-size: inherit;
  font-family: inherit;
}
a:hover {
  text-decoration:none;
}

fieldset {
  padding:0;
  margin:0;
  border:none;
  position:relative;
  border-bottom:1px solid var(--tertiary);
  border-right:1px solid var(--tertiary);
}
fieldset:last-of-type {
  border-bottom:none;
}
legend {
  padding:0;
  position:absolute;
  right:0;
  top:0;
  z-index:100;
  background-color: var(--tertiary);
  padding:.25rem;
  color:#fff;
  font-size: .9em;
}
textarea {
  width:100%;
  height:100%;
}

/* sections */
header {
  grid-area: header;
  display:flex;
  flex-direction:column;
  padding:.5rem 1rem;
  
  background-color: #d3f1fb;
  background: #fff;
}
header h1 {
  background-color: var(--secondary);
  margin:-.5rem -1rem 1rem;
}
header p {
  padding: 0;
}
header ol,
header a {
  align-self:center;
  position: relative;
}
header ol {
  padding-right:1.5rem;
}
header > a {
  padding-bottom:1.5rem;
  overflow:hidden;
}
header a img {
  position:absolute;
  right:calc(50% - .75rem);
  bottom:-.5rem;
  width:1.5rem;
  transition:.25s
}
header * a {
  padding:0;
}
header a:hover img {
  transform: translate(0, .25rem);
  
}
section {
  margin:0;
  display:flex;
  flex-direction:column;
  transition:.5s .5s;
}

/* input */
section#input {
  grid-area: input;
  background-color: var(--primary);
  padding-top: .5rem;
}
  section#input form {
    display:flex;
    flex-direction:column;
    height:100vh;
  }
    section#input form fieldset{
      flex-grow:1;
    }
    section#input form fieldset > div{
      position:relative;
      width:100%;
      height:100%;
    }

/* example */
section#example {
  grid-area: example;
  background-color: #fff;
  padding:.5rem 0;
  display:flex;

  align-items: center;
}
  section#example > h2 {
    background-color: var(--secondary);
    width:100%;
  }  
  /* section#example img {
    flex-grow: 1;
    align-self:center;
    margin: 0;
    min-width:30em;
    max-width:35em;
  } */

  section#example article {
    width:50%;
    min-width:22.5em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-end;
    background: rgb(0,239,255);
    background: linear-gradient(0deg, #731500 20%, gold 100%);
    box-shadow:0 0 20px 20px rgba(0,0,0,.1);
    margin-top: 3rem;
    border-radius:1rem;
  }
  section#example article h1 {
    margin:2rem 0 .5rem;
    background:transparent;
  }

  section#example article em {
    color: #731500;
  }
  
  section#example article img {
    width:10em;
    border-radius:10em;
    border:5px solid #fff;
    box-shadow:0 0 2px 2px rgba(0,0,0,.2);
    position:relative;
    top:2rem;
  }
  section#example article dl {
    width:100%;
    background: rgb(255,255,255);
    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "html-dd css-dd js-dd"
      "html-dt css-dt js-dt"
      ;
    justify-items:center;
    align-items:start;
    padding:5rem 0 3rem;
    margin-top: -3rem;
    margin-bottom: 0;
    text-align: center;
  }
  section#example article dt {
    font-weight: bold;
    border-top: 1px solid rgba(0,0,0,0.3);
    padding-top: .25rem;
    margin-top: .25rem;
    color: #731500;
  }
  section#example article dt:nth-of-type(1) { grid-area: html-dt; }
  section#example article dt:nth-of-type(2) { grid-area: css-dt; transform: translateY(1rem);}
  section#example article dt:nth-of-type(3) { grid-area: js-dt; }
  
  section#example article dd {
    margin:0;
    padding-left:0.3rem;
    
  }
  section#example article dd:nth-of-type(2) {  
    transform: translateY(1rem);
  }
  section#example article p { 
    margin:0
  }
  section#example article p:last-of-type {
    padding:3rem 2rem;
    margin-top: 0;
    background:rgba(255,255,255, 0.3);
    text-align:center;
    border-radius: 0 0 1rem 1rem;
    color: var(--primary)
  }

/* output */
section#output {
  grid-area: output;
  display:flex;
  flex-direction:column;
  background-color: var(--primary);
  padding-top: .5rem;
}
section#output iframe {
  border:none;
  background-color: #fff;
  flex-grow: 1;
  margin:0;
}
/* toolbar */
ul.toolbar {
  pointer-events:none;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  height:2.5rem;
  display:flex;
  justify-content:flex-end;
  z-index:1000;
  background-color: var(--tertiary);
  list-style:none;
  margin:0;
  align-items:center;
  transition:.25s .5s;
  transform:translateY(100%);
  opacity:0;
  padding:0;
  border-top:.5rem solid var(--secondary);
  overflow:hidden;
  box-shadow:0 0 20px 10px rgba(0,0,0,.1);
}
ul.toolbar li {
  border-left:1px solid var(--secondary);
  height:100%;
}

ul.toolbar li:last-child {
  margin-right:0;
  border-right:1px solid var(--secondary);
  
}
ul.toolbar li:last-child img {
  transform:rotate(180deg) translate(0, .5rem);

}
ul.toolbar li > button,
ul.toolbar li > a {
  background-color: var(--tertiary);
  border-radius:0;
  border:none;
  display:block;
  overflow:hidden;
  padding:0 .5rem;
  position: relative;
  vertical-align: center;
  text-decoration: none;
  line-height: 2;
  color:var(--primary)
}

ul.toolbar li > button:hover,
ul.toolbar li > a:hover,
ul.toolbar li > button:focus {
  background-color: var(--primary);
  color:#333;
  outline:none;
}

ul.toolbar section {
  display:none;
}



/* Edit mode */
body.edit-mode ul.toolbar {
  transform:translateY(0);
  opacity:1;
  pointer-events:auto;
}

@media (min-width:60em) {
  header p,
  header ol {
    max-width:40em
  }
  header ol li {
    margin-bottom: 6vh;
  }
}
