@import url(https://fonts.googleapis.com/css?family=Exo:400,700);
* {
  box-sizing:border-box;
}
body {
  height: 100vh;
  width: 100vw;
  color:#fff;
  font-family: "Exo", sans-serif;
  line-height:1.75;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  padding:5rem;
  max-width: 50vw;
}
  h1  {
    line-height: 1.25;
  }
  h1 em,
  strong {
    color: #d1ce02d3;
    font-style: normal;
  }


/* svg element containers */
svg {
  position:absolute;
}

#rocket {
  height: 10vw;
  width: 20vw;
  left: 5vw;
  bottom: 5vw;
  transform: rotate(-25deg);
  z-index: 100;
  opacity:0;
}
#planet {
  height: 20vw;
  width: 20vw;
  right: 5vh;
  top: 5vh;
  z-index:20;
  opacity:0;
}
#space-welder {
  height: 300px;
  width: 300px;
  right: 5vw;
  bottom: 2.5vw;
  z-index:50;
  opacity:0;
}

#space-welder #sparkles {
  transform:translate(-250px, -50px)
}
#space-welder #sparkles > * {
  opacity:0
}

#space-nerd {
  height: 300px;
  width: 300px;
  left: 50px;
  top: 100px;
  z-index:50;
  opacity:0;
}





