

.index .context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:100vh;
}


.index.intake form .hidden {
    display: none;
}

.index.intake form fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0 auto;
}

.index.intake form fieldset label {
    display: flex;
    flex-direction: column;
}

.index.intake form fieldset input, .index.intake form fieldset textarea {
    border-radius: 8px;
}

.index.intake form fieldset label.hidden-label {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.index.intake form fieldset label.hidden-label + input {
    padding: 10px;
    border: 1px solid #ededed;
    margin-top: 10px;
}

.index.intake form fieldset textarea {
    height: 75px;
    margin-top:5px;
    margin-bottom: 15px;
    width: 40%;
    min-width: 540px;
}

.index.intake form fieldset.checkboxes label {
    flex-direction: row;
}

.index.intake form fieldset.checkboxes label input {
    margin: auto 0;
    margin-right: 10px;
}

.index.intake form fieldset.range input {
    width: 40%;
    min-width: 540px;
    margin-bottom: 10px;
}

.index.intake form fieldset.range label:first-of-type {
    margin-top: 10px;
}

.index form button {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100px;
}


.index.intake form fieldset button {
    display: none;
}

.index.intake form fieldset button.display {
    display: unset;
}

.index.intake form button.no-js.hide {
    display: none;
}

.index.intake form fieldset.hide {
    display: none;
}

.index.intake form fieldset .buttons {
    display: flex;
}

.index.intake form fieldset:first-of-type button {
    margin: 20px 0 20px auto;
}

.index.intake form fieldset:not(:first-of-type) .buttons .next {
    margin-left: auto;
}

.index.intake form fieldset .submit {
    margin-left: auto;
}

.index .index__challenge {
    display: flex;
    flex-direction: column;
}

.index .index__challenge * {
    width: fit-content;
    margin: 0 auto;
}

.index .index__challenge input {
    border-radius: 8px;
    margin-top: 15px;
    border: 1px solid #ededed;
    padding: 10px 15px;
}

.index .index__challenge button {
    margin-top: 20px;
}
