@import url(https://fonts.googleapis.com/css?family=Exo:400,700);
* {
  box-sizing:border-box;
}
body {
  height: 100vh;
  width: 100vw;
  color:#fff;
  font-family: "Exo", sans-serif;
  line-height:1.75;
  display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow:hidden;
  margin:0;
}

main {
  padding:2.5rem 5rem;
  max-width: 50vw;
  position:absolute;
  z-index:1000;
}
  h1  {
    line-height: 1.25;
    font-size: 1.85em;
    white-space:no-wrap;
  }
  h1 em,
  strong {
    color: #d1ce02d3;
    font-style: normal;
  }
  main div {
    display:flex;
    justify-content: flex-start;
  }
a, button {
   border-radius:1rem;
   background:rgba(78, 84, 200, .2);
   padding:1rem 2rem;
   font-size: 1em;
   color:#fff;
   text-decoration: none;
   border:none;
   margin-right:1rem;
   transition:.25s;
   margin-bottom: 2em;
   cursor:pointer;
   white-space:nowrap;
 }
 a:hover, button:hover, a:focus, button:focus {
  background:rgba(78, 84, 200, 1);
  transform:scale(1.05);
  outline:none;
 }


/* svg element containers */
svg {
  position:absolute;
}

#rocket {
  height: 10vw;
  width: 20vw;
  left: 5vw;
  bottom: 5vw;
  transform: rotate(-25deg);
  z-index: 100;
  opacity:0;
}
#planet {
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  z-index:20;
  opacity:0;

  background-color: rgba(0,0,0,.1);
}
#space-welder {
  height: 300px;
  width: 300px;
  right: 5vw;
  bottom: 2.5vw;
  z-index:50;
  opacity:1;
}

#space-welder #sparkles {
  transform:translate(-250px, -50px)
}
#space-welder #sparkles > * {
  opacity:0
}

#space-nerd {
  height: 300px;
  width: 300px;
  left: 50px;
  top: 100px;
  z-index:50;
  opacity:1;
}





