@import url(https://fonts.googleapis.com/css?family=Exo:400,700);

* {
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100vw;
	color: #fff;
	font-family: 'Exo', sans-serif;
	line-height: 1.75;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: hidden;
	margin: 0;
}

main {
	padding: 2.5rem 5rem;
	max-width: 50vw;
	position: absolute;
	z-index: 1000;
}
h1 {
	line-height: 1.25;
	font-size: 1.85em;
	white-space: no-wrap;
}
h1 em,
strong {
	color: #d1ce02d3;
	font-style: normal;
}
main div {
	display: flex;
	justify-content: flex-start;
}

button {
	position:absolute;
	bottom:1em;
	right:1em;
	border-radius:1rem;
	background: #ede902d3;
	padding:.5rem 1rem;
	font-size: 1em;
	font-family: inherit;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	border: none;
	margin-right: 1rem;
	transition: 0.25s;
	margin-bottom: 2em;
	cursor: pointer;
	white-space: nowrap;
	font-weight:100;
	display:flex;
	align-items:center;
	gap:.5rem;
	opacity:0;
	translate: 0 -200%;
}

button:hover,
button:focus {
	background: #b5b200d3;
	transform: scale(1.05);
	outline: none;
}

button em {
	font-style: normal;
	font-size: 1.5rem;

}
