* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a,
button {
  outline: none;
  text-decoration: none;
}

a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus {
  cursor: pointer;
}

fieldset {
  border: none;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
