.l-splashscreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.l-welcome {
  max-width: 35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 5;
}
.welcome__subtitle{
  overflow: hidden;
  width: 20.18em;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

.l-welcome form {
  flex-direction:column;
}
.l-welcome form input {
  margin-bottom: 2rem;
}

.l-triangle {
  position: fixed;
  height: 100vh;
  width: 100%;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: var(--secondary);
}
