@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Exo', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;

  h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    // mix-blend-mode: difference;
  }
}

h2 {
  color: #fff;
}

.splashscreen {
  background: #4e54c8;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

.minor-logo {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-image: url(../images/logo_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    mix-blend-mode: difference;

    animation: animate 25s linear infinite;
    bottom: -150px;

    &:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    &:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }

    &:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    &:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }

    &:nth-child(6) {
      left: 75%;
      width: 110px;
      height: 110px;
      animation-delay: 3s;
    }

    &:nth-child(7) {
      left: 35%;
      width: 150px;
      height: 150px;
      animation-delay: 7s;
    }

    &:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }

    &:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    &:nth-child(10) {
      left: 85%;
      width: 150px;
      height: 150px;
      animation-delay: 0s;
      animation-duration: 11s;
    }
  }
}

.challenge-main {
  .context{
  top: 20vh;
  }
}

.code-container {
  width: 100%;
  position: absolute;
  bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    z-index: 1000;
    margin: auto;
    width: 25%;

    h2 {
      color: #fff;
      text-align: center;
    }
  }
  textarea {
    display: inline-block;
    padding: 1em;
    width: 100%;
    height: 400px;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
  }
}
#code {
  width: 40vw;
  height: 30vh;
  z-index: 900;
}

.output-container {
  bottom: 45vh;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    &:first-of-type {
      margin-left: 4vw;
    }
    &:last-of-type {
      margin-right:3vw;
    }
  }
  img{
    width: 40vw;
    height: 30vh;
  }
}

.context-challenge {
  margin-left: 4vw;  
  margin-top: 2.5vw;  
  h1 {
    color: #fff;
    font-size: 50px;
    // mix-blend-mode: difference;
  } 
  p {
    color: #fff;
    max-width: 42%;
  }
  button {
    padding: 8px 13px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #4e54c8;
    color: #4e54c8;
    background-color: #fff;
    transition: all .3s;
    margin: 0 auto;
    font-size: 18px;
    margin-top: 30px;
    &:hover {
      cursor: pointer;
      color: #fff;
      border: 2px solid #fff;
      background-color: #4e54c8;
    }
  }
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.7;

    /* border-radius: 0; */
  }

  100% {
    transform: translateY(-1200px) rotate(720deg);
    opacity: 0;

    /* border-radius: 50%; */
  }
}