.information__link {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p .information__link:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--tertiary);
  opacity: 0;
  width: 0%;
  transition: 0.2s ease-in;
}

p .information__link:hover:after {
  opacity: 1;
  width: 100%;
  transition: 0.2s ease-in;
  cursor: pointer;
}
