.title--icon {
  display: flex;
  align-items: center;
}

.header__icon {
  width: 1.75rem;
  margin-right: 1rem;
}

.navigation__icon .move {
  transition: 0.2s ease-in;
}

.navigation__preview:hover .move {
  transform: translate(3px, 0px);
  transition: 0.2s ease-in;
}

.navigation__save:hover > .navigation__icon {
  transform: scale(1.15);
}

.navigation__tips:hover > .navigation__icon {
  transform: rotate(180deg);
}

.navigation__icon {
  width: 1.5rem;
  margin-right: 0.75rem;
  transition: 0.2s ease-in;
}

.navigation__icon--toggle {
  transform: rotate(180deg);
  transition: 0.2s ease-in;
}

.legend__icon {
  width: 1.5rem;
  transition: transform ease-in 0.2s;
}

.legend__icon--active {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform ease-in 0.2s;
}