.cloud header{
   padding: 5px 15px;
   background: #5e509d;
   color: white;
   font-size: 10px;
}

.cloud header{
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   display: grid;
}
.cloud header h1{
   grid-column: 1;
   grid-row: 1;
   margin: auto 0;
}

.cloud header h1.category{
   display: flex;
   align-items: center;
   font-size: 16px;
   text-transform: uppercase;
}
.cloud header h1.category button{
   width: auto;
   font-size: 10px;
   margin-right: 5px;
}