.l-input {
  grid-row: 3/4;
  grid-column: 1/21;
  height: 95vh;
  width: 100%;
  background-color: var(--primary);
  z-index: 2;
}

.input__title {
  height: 5%;
  margin: 0;
  padding: 0.65rem 1.5rem;
  background-color: var(--secondary);
}

.input__form {
  height: 95%;
  min-height: 95%;
}

.input__code {
  min-height: 3.3%;
  flex: 1;
  overflow: hidden;
  z-index: 1;
}

.input__code--open {
  height: 33.33%;
  transition: ease-in 0.2s;
}

.input__code--close {
  height: 3.3%;
  flex: 0;
  transition: ease-in 0.2s;
}

.input__code > div {
  position: relative;
  height: 100%;
  width: 100%;
}

.input__legend {
  background: var(--tertiary);
  font-size: 0.8rem;
  padding-left: 1.5rem;
  width: 100%;
  z-index: 5;
}

.input__resizer {
  position: relative;
  background: var(--secondary);
  height: 0.75rem;
  width: 100%;
  cursor: row-resize;
  text-align: center;
}
/* 
.input__resizer--marker {
  position: absolute;
  top: 0;
  line-height: 0.75rem;
  font-weight: bold;
  opacity: 0.75;
} */

.input__collapse {
  position: absolute !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  top: 0.1rem;
  right: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.input__collapse:hover {
  cursor: pointer;
}

.input__arrow {
  position: absolute;
  top: 0.55rem;
  right: 0.75rem;
  cursor: pointer;

  border: solid var(--primary);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform-origin: 65% 65%;
}

.input__arrow--down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform ease-in 0.2s;
}

.input__arrow--up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: transform ease-in 0.2s;
}
